/* Global styles */
* {
  font-family: "Work Sans";
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}

.description {
  font-size: 20px;
  line-height: 40px;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.btn-primary {
  padding: 20px 30px;
  border-radius: 10px;
  background: #fff;
  color: #005fac;
  font-size: 24px;
  font-weight: 600;
  border: 1px solid #005fac;
  transition: 0.5s all;
}

.btn-primary:hover {
  transform: scale(1.05);
  background-color: #005fac;
  color: white;
  border-color: white;
}

.underlined-text {
  color: #005fac;
  text-decoration: underline !important;
}

.background {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.font-45 {
  font-size: 45px;
}

.flex-align-center {
  display: flex !important;
  align-items: center !important;
}

/* Header Styles */

header {
  height: 100vh;
  background-image: url("../images/banner/banner3.png");
}

.header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  padding: 0 100px;
  color: #fff;
  text-align: right;
}

.header-title {
  font-size: 80px;
  font-weight: 700;
}

/* Introduction styles */

.introduction {
  margin-top: 100px;
  padding: 0 100px;
}

.introduction-title {
  color: #151414;
  text-align: center;
}

.intro-details h3 {
  color: #151414;
  font-size: 35px;
}

.new-year-text {
  width: fit-content;
  background-color: #151414;
  color: white;

  font-size: 28px;
  font-weight: 600;
}

.intro-details,
.intro-image {
  flex-basis: 50%;
}

.intro-image img {
  width: 100%;
}

/* prev failure styles */

.prev-failures {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0 50px;
}

.failure-image,
.failure-details {
  flex-basis: 50%;
}

.failure-image img {
  width: 100%;
}

.failure-details h2 {
  color: #151414;
}

.failure-details h2 span {
  color: #f24848;
}

.failure-details p,
li {
  color: #444343;
}

.failure-list li {
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: 10px;
  margin-bottom: 15px;
}

.failure-list li i {
  font-size: 35px !important;
  color: #16d887;
}

/* resolutions style */
.resolutions {
  margin-top: 150px;
}
.resolutions h2 {
  color: #151414;
  text-align: center;
}

.resolutions h2 span {
  color: #16d887;
}

.resolutions-container {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  text-align: center;
  padding: 50px 100px;
}

.resolution-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  flex-basis: 25%;
  color: #fff;
  transition: 0.5s ease;
}

.resolution-item:nth-child(1) {
  background-color: #f24848;
  border: 1px solid #f24848;
  box-shadow: 0 0 100px rgba(255, 0, 0, 0.4);
}
.resolution-item:nth-child(2) {
  transform: translateY(50px);
  background-color: #ffc436;
  border: 1px solid #ffc436;
  box-shadow: 0 0 100px rgba(255, 238, 0, 0.4);
}
.resolution-item:nth-child(3) {
  background-color: #19c998;
  border: 1px solid #19c998;
  box-shadow: 0 0 100px rgba(0, 255, 157, 0.4);
}
.resolution-item:nth-child(4) {
  transform: translateY(50px);
  background-color: #7365f6;
  border: 1px solid #7365f6;
  box-shadow: 0 0 100px rgba(85, 0, 255, 0.4);
}

.resolution-item i {
  font-size: 60px;
  padding: 20px 0;
  transition: 0.5s ease;
}

.resolution-title {
  font-size: 24px;
  line-height: 40px;
}

.resolution-description {
  line-height: 28px;
}

.resolution-item:hover {
  background-color: white;
  color: #151414;
}

.resolution-item:nth-child(1):hover i {
  color: #f24848;
}
.resolution-item:nth-child(2):hover i {
  color: #ffc436;
}
.resolution-item:nth-child(3):hover i {
  color: #19c998;
}
.resolution-item:nth-child(4):hover i {
  color: #7365f6;
}

/* Think positive styles */

.think-positive {
  margin: 0 20px;
}

.think-positive .container {
  background: linear-gradient(
      90deg,
      rgba(0, 95, 172, 1) 0%,
      rgba(0, 95, 172, 0) 100%
    ),
    url("../images/watch.png");
  padding: 150px 100px;
  margin: 100px auto;
  border-radius: 10px;
}

.think-positive h3 {
  color: white;
  font-size: 50px;
}

/* Footer styles */

footer {
  background: #151414;
  padding: 150px 100px;
}

footer .container {
  display: flex;
  gap: 100px;
  color: white;
}

.footer-information,
.subscribe-container {
  flex-basis: 50%;
}

.footer-title {
  margin-bottom: 20px;
}

.footer-description {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 35px;
}

.social-icons {
  display: flex;
  gap: 30px;
}

.social-icons i {
  font-size: 35px;
  color: white;
  transition: 0.5s ease;
}

.social-icons i:hover {
  transform: translateY(-10px);
}

.subscribe-container h4 {
  font-size: 28px;
  font-weight: 600;
}

.subscribe-form {
  display: flex;
}

.subscribe-form input[type="text"] {
  width: 300px;
  padding: 20px 30px;
  font-size: 18px;
  border-radius: 5px 0 0 5px;
}

.subscribe-btn {
  background-color: #005fac;
  color: #fff;
  padding: 20px 30px;
  font-size: 18px;
  border-radius: 0 5px 5px 0;
}
